.footer {
    height: 48px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 100%;
    align-items: center;
    .app-name{
        h1{
            font-size: 16px;
        }
        p{
            font-size: 12px;
        }
    }

    .nav-links {
        display:flex;
        justify-content: space-around;
        width: 400px;

        a {

            text-decoration: none;
            color: #ffff;
            font-size: 14px;
        }
    }


    .social-media-links {
        display: flex;
        justify-content: space-between;
        width: 150px;
    }

}